Repository Shabaldas/storm_esbuild, pull requests merged in 2023-06, with the labels that each got.

#134 STORM_B (feat): add shopping cart and cart items in sidebar
  app/assets/images/partials_img/empty_basket.png
  app/assets/stylesheets/components/drawer.css
  app/controllers/application_controller.rb
  app/controllers/cart_controller.rb
  app/controllers/carts/adds_controller.rb
  app/controllers/carts/reduces_controller.rb
  app/controllers/carts/removes_controller.rb
  app/models/cart.rb
  app/models/cart_item.rb
  app/models/product.rb
  app/views/cart/_cart_footer_action.html.erb
  app/views/cart/_cart_item_total.html.erb
  app/views/cart/_empty_cart_body.erb
  app/views/cart/_item_line.html.erb
  app/views/cart/_item_quantity.html.erb
  app/views/cart/_side_bar_cart.html.erb
  app/views/cart/_total_price.html.erb
  app/views/products/index.html.erb
  app/views/products/show.html.erb
  app/views/shared/_header.html.erb
  config/routes.rb
  db/migrate/20230522173938_create_carts.rb
  db/migrate/20230522175440_create_cart_items.rb
  db/schema.rb
  spec/controllers/carts/adds_controller_spec.rb
  spec/controllers/carts/reduces_controller_spec.rb
  spec/controllers/carts/removes_controller_spec.rb
  spec/factories/cart_items.rb
  spec/factories/carts.rb
  spec/models/cart_item_spec.rb
  spec/models/cart_spec.rb
  spec/models/product_spec.rb
  spec/rails_helper.rb
  spec/request/products_spec.rb
Labels: ruby, css

#138 STORM_B (feat): add options for creating new product in admin page
  app/assets/stylesheets/application.tailwind.css
  app/controllers/admin/products_controller.rb
  app/helpers/admin/product_helper.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/nested_form_controller.js
  app/javascript/controllers/toggler_controller.js
  app/models/product.rb
  app/views/admin/products/_form.html.erb
  app/views/admin/products/_product_option_color_values_form.erb
  app/views/admin/products/_product_option_size_values_form.erb
  package.json
  spec/factories/options.rb
  spec/helpers/admin/product_helper_spec.rb
  spec/request/admin/products_spec.rb
  yarn.lock
Labels: ruby, javascript, css

#140 Draft: Storm_F[8]:Add product details
  app/controllers/products_controller.rb
  app/helpers/product_helper.rb
  app/javascript/controllers/accordion_controller.js
  app/javascript/controllers/index.js
  app/views/products/_suggest_products.html.erb
  app/views/products/show.html.erb
  spec/request/products_spec.rb
Labels: ruby, javascript, css

#146 STORM_B (feat): change price when another size selected in product show
  app/helpers/product_helper.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/selected_size_controller.js
  app/models/product.rb
  app/views/products/show.html.erb
  spec/helpers/product_helper_spec.rb
Labels: ruby, javascript

#155 STORM_B (feat): Add calculator, and 3D model uploading
  app/assets/images/calculator_img/axes.png
  app/assets/images/calculator_img/change_model.png
  app/assets/images/calculator_img/change_model_icon.png
  app/assets/images/calculator_img/cube.png
  app/assets/images/calculator_img/file_expanding1.png
  app/assets/images/calculator_img/grid.png
  app/assets/images/calculator_img/rotate.png
  app/assets/images/calculator_img/settings.png
  app/assets/images/calculator_img/xyz.png
  app/assets/images/calculator_img/zoom_in.png
  app/assets/images/calculator_img/zoom_out.png
  app/assets/images/partials_img/payment.png
  app/assets/images/shop_img/stl_logo.png
  app/assets/stylesheets/application.tailwind.css
  app/controllers/calculators_controller.rb
  app/controllers/carts/removes_controller.rb
  app/controllers/print_models_controller.rb
  app/helpers/application_helper.rb
  app/javascript/controllers/calculator_controller.js
  app/javascript/controllers/index.js
  app/javascript/controllers/sidebar_controller.js
  app/javascript/controllers/upload_model_controller.js
  app/models/cart.rb
  app/models/print_model.rb
  app/models/print_model_attribute.rb
  app/views/calculators/index.html.erb
  app/views/cart/_cart_item_total.html.erb
  app/views/cart/_item_line.html.erb
  app/views/cart/_side_bar_cart.html.erb
  app/views/print_models/_form.html.erb
  app/views/print_models/new.html.erb
  app/views/products/_product_placeholder.html.erb
  app/views/shared/_header.html.erb
  config/routes.rb
  db/migrate/20230620134800_create_print_models.rb
  db/migrate/20230620134812_create_print_model_attributes.rb
  db/schema.rb
  spec/controllers/print_models_controller_spec.rb
  spec/factories/print_model_attributes.rb
  spec/factories/print_models.rb
  spec/models/cart_spec.rb
  spec/models/print_model_attribute_spec.rb
  spec/models/print_model_spec.rb
  spec/request/calculators_spec.rb
Labels: ruby, javascript, WIP, css

#156 (hotfix): broken rspec in master
  spec/controllers/carts/removes_controller_spec.rb
Labels: ruby

#157 STORM_B (feat): Parent category can not have products directly
  app/controllers/carts/removes_controller.rb
  app/lib/database_seeds/dummy/product_options_seed.rb
  app/lib/database_seeds/dummy/products_seed.rb
  app/models/product.rb
  app/models/product_category.rb
  app/views/products/_form.html.erb
  spec/controllers/carts/removes_controller_spec.rb
  spec/factories/products.rb
  spec/grape/api/v1/resources/product_categories_spec.rb
  spec/grape/api/v1/resources/products_spec.rb
  spec/lib/database_seeds/dummy/product_categories_seed_spec.rb
  spec/lib/database_seeds/dummy/product_options_seed_spec.rb
  spec/lib/database_seeds/dummy/products_seed_spec.rb
  spec/models/cart_item_spec.rb
  spec/models/cart_spec.rb
  spec/models/product_category_spec.rb
  spec/models/product_spec.rb
  spec/request/admin/products_spec.rb
  spec/request/products_spec.rb
Labels: ruby

#158 STORM_B (feat): Change category count, update category helper for select
  app/controllers/carts/cart_items_controller.rb
  app/helpers/admin/product_helper.rb
  app/helpers/product_helper.rb
  app/views/admin/product_categories/_form.html.erb
  app/views/admin/products/_form.html.erb
  app/views/products/_form.html.erb
  app/views/products/_store_filter.html.erb
  spec/helpers/admin/product_helper_spec.rb
  spec/helpers/product_helper_spec.rb
  spec/request/admin/products_spec.rb
Labels: ruby

#165 STROM_F (feat): show color material, by selected material in calculator page
  app/javascript/controllers/dropzone_controller.js
  app/javascript/controllers/index.js
  app/javascript/controllers/print_model_colors_controller.js
  app/views/print_models/_form.html.erb
  app/views/print_models/_upload_section.html.erb
Labels: javascript

#168 STORM_F (feat): Addaptize cartble select color with cart item
  app/helpers/product_helper.rb
  app/javascript/controllers/print_model_colors_controller.js
  app/lib/database_seeds/dummy/options_seed.rb
  app/lib/database_seeds/dummy/product_options_seed.rb
  app/models/cart_item_option_value.rb
  app/views/cart/_item_line.html.erb
  app/views/orders/_order_cart_items.html.erb
  app/views/print_models/_form.html.erb
  app/views/products/_form.html.erb
  spec/lib/database_seeds/dummy/product_options_seed_spec.rb
Labels: ruby, javascript
